$gray-1:  #d9d9d9;
$gray-2:  #ced4da;
$gray-3:  #f5f5f5;
$gray-4:  #404852;
$gray-5:  #656565;

$white:   #fff ;
$black:   #000;
$blue:    #007bff;
$orange:  #fdaa34;

.sidebar {
    background: $gray-1;
    width: 220px;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    transition: width 0.25s ease, background 0.25s ease;
    overflow: auto;
}

.sidebar ul.nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
}

ul.nav {
    padding-inline-start: 20px;
}

ul.nav li.nav-item {
    display: block;
    white-space: nowrap;
    padding-left: 8px;
    color: $black;
}

.mainmenu input {
    display: none;
}
.mainmenu input:checked ~ .submenu {
    display: block;
    max-height: 200px;
}

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}