@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    transition: width 0.25s ease, background 0.25s ease;
    overflow: auto;
    background-color: transparent;
    margin: 0px;
}
  