<div class="d-flex mt-5" (keydown)="enterToSearch($event)">
  <input type="text" [(ngModel)]="url"> <button (click)="search()">Search</button>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Add RSS Feed</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="successModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex">
          Name :<input type="text" [(ngModel)]="name"  (keydown)="enterToAdd($event)">
          <label *ngIf="invalid" style="color: red">Please input feed name.</label>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="addRss()">Add</button> <button (click)="successModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #errorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-child-name" class="modal-title pull-left">Can't find RSS Feed</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="errorModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex">
            Error 404 RSS Feed
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="errorModal.hide()">Close</button>
        </div>
      </div>
    </div>
  </div>